.profileHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  padding: var(--spacing-4);

  .profilePhoto{
    display: flex;
    position: absolute;
    left: var(--spacing-4);
    top: -50%;
    border-radius: var(--radius-rounded);
    overflow: hidden;
    background: linear-gradient(to right, var(--primary-color), var(--highlight-color), var(--primary-color));
    padding: 4px;
    cursor: pointer;

    img{
      border-radius: var(--radius-rounded);
      object-fit: cover;
    }
  }

  .profileFollow{
    display: flex;
    align-items: center;
    padding: var(--spacing-3) var(--spacing-5);
    border-radius: var(--radius-full);
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    gap: var(--spacing-2);
    cursor: pointer;
    font-size: var(--font-size-default);
  }

  .toolsLink{
    display: flex;
    align-items: center;
    padding: var(--spacing-3);
    border-radius: var(--radius-full);
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--gray-scale-1);
    gap: var(--spacing-2);
    cursor: pointer;
    font-size: var(--font-size-default);
    margin-right: var(--spacing-3)
  }
}