.colorBlock{
  display: flex;
  width: 100%;
  background-color: var(--semi-transparent);
  padding: var(--spacing-4);
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-10);
  align-items: center;
  gap: var(--spacing-2);

  [data-go-back-label]{
    font-size: var(--font-size-small);
  }
}