.storiesContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--bg-color-transparent);
  backdrop-filter: blur(4px);
  z-index: 5;
  cursor: pointer;

  div{
    display: flex;
    max-width: var(--max-container);
    width: 100vw;
    height: 80vh;
    position: relative;
    
    img{
      max-width: var(--max-container) !important;
      max-height: 80vh;
      border-radius: var(--spacing-2);
    }

    .storieProgressBarContainer {
      display: flex;
      width: calc(100% - var(--spacing-6));
      height: var(--spacing-0);
      border-radius: var(--radius-default);
      position: absolute;
      margin: 0 var(--spacing-0);
      z-index: 1;
      top: var(--spacing-3);
      left: var(--spacing-2);

      .storieProgressBarBody{
        display: flex;
        width: 100%;
        height: var(--spacing-0);
        background-color: var(--gray-scale-3);
        border-radius: var(--radius-default);
        margin: 0 var(--spacing-0);
        z-index: 1;

        .storieProgressBar {
          display: flex;
          height: var(--spacing-0);
          background-color: var(--secondary-color);
        }
      }      
    }
    
    [data-custom-stories-control="next"],
    [data-custom-stories-control="prev"]{
      display: flex;
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
    }

    [data-custom-stories-control="prev"]{
      left: 0;
    }

    [data-custom-stories-control="next"]{
      right: 0;
    }
  }
}