.postContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: var(--max-container);

  .postContent{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: var(--spacing-5);
    padding-top: 0;
    gap: var(--spacing-3);
    color: var(--gray-scale-2);

    ul{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--spacing-2);
    }

    h3{
      margin-top: var(--spacing-4);
    }

    pre{
      background-color: var(--semi-transparent);
      padding: var(--spacing-3);
      border-radius: var(--radius-default);
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}