.zoomContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--bg-color-transparent);
  backdrop-filter: blur(4px);
  z-index: 5;

  div{
    display: flex;
    max-width: var(--max-container);
    width: 100vw;
    height: 80vh;
    position: relative;
    
    img{
      max-width: var(--max-container) !important;
      max-height: 80vh;
    }

    p{
      z-index: 1;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: var(--spacing-8);
      width: 100%;
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
      border-radius: var(--radius-medium);
    }
  }
}